.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav__list {
    display: flex;
    flex-direction: column;
}

.nav__title {
    margin: 0 0 50px 0;
    padding: 0 0 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 38px;

    &:hover {
        color: #ffffff;
    }
}

.nav__create {
    position: relative;
    background-color: transparent;
    color: #ffffff;
    border: 0;
    font-size: 14px;
    opacity: 0.7;
    text-align: start;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.nav__button {
    border: 0;
    color: #ffffff;
    background-color: transparent;
    text-align: start;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        opacity: 0.7;
        background-color: #5d3fd3;
    }
}

.nav__button--active {
    background-color: #5d3fd3;
}

.nav__form {
    position: relative;
}

.nav__input-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    min-height: 5vh;
    background-color: #3d3d3d;
    top: 0;
    left: 100%;
    border-radius: 10px;
}

.nav__input {
    border-radius: 10px;
    border: 0;
    padding: 10px;
    margin: 0 0 10px 0;

    &::placeholder {
        font-weight: bold;
    }

    &:focus-visible {
        outline: 1px solid #5d3fd3;
    }
}

.nav__list-add {
    padding: 10px 20px;
    background-color: #5d3fd3;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}