.todo {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
    color: #ffffff;
    align-self: center;
    min-width: 50vw;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.todo__item {
    display: flex;
    gap: 30px;
    background-color: #3d3d3d;
    border-radius: 15px;
    padding: 10px 20px;
}

.todo__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.todo__item-name {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row-reverse;
    justify-content: space-between
}

.todo__item-extra {
    @extend .todo__item-name;
    justify-content: space-between;
    flex-direction: unset;
}

.todo__date {
    margin: 0;
    opacity: 0.7;
    font-size: 14px;
}

.todo__title {
    margin: 0;
}

.todo__description {
    margin: 0;
}

.todo__priority {
    margin: 0;
    opacity: 0.7;
}

.todo__buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.todo__remove {
    background-color: #5d3fd3;

    border-radius: 15px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    max-width: 80px;
    align-self: end;

    &:hover {
        opacity: 0.7;
    }
}

.todo__edit {
    @extend .todo__remove;
    background-color: #FFBF00;
    color: #3d3d3d;
}

.todo-form__description {
    display: flex;
}

.todo__day {
    display: flex;
}

.todo__rank {
    display: flex;
}